#TODO-BACK centraliser et gérer les config

ENVIRONMENT=developmentORproduction
SECRET_KEY=my_precious

DATABASE_USER=db_user
DATABASE_PWD=db_password
DATABASE_NAME=db_name

DATABASE_USER_TEST=db_user_test
DATABASE_PWD_TEST=db_pwd_test
DATABASE_NAME_TEST=db_name_test

#configure front service
VUE_APP_I18N_LOCALE=fr
VUE_APP_I18N_FALLBACK_LOCALE=fr
VUE_APP_API_URL=http://localhost:5001
BACKEND_SERVICE_URL=http://127.0.0.1:5001
VUE_GATEWAY_URL=http://127.0.0.1:8080

#configure backend service
#configure backend service
ADMIN_USER_NAME=tatalacarpe
ADMIN_USER_EMAIL=tata@jardin.com
ADMIN_USER_PWD=tatalacarpe